<div class="top-wrapper">
  <div class="top-detail">
    <h2 class="subtitle">クイズノックの情報満載！</h2>
    <h1 class="title"><%= image_tag "logo.png" %> Database</h1>
    <p class="description">
      QuizKnock Databaseは、QuizKnockの各種情報を保管するサービスです。
      情報の追加・更新・削除も可能です。積極的に情報を更新しましょう！
      <br>
      見たい情報を選択してください。
    </p>
    <%= link_to "メンバー一覧", "#", class:"index-button" %>
    <%= link_to "動画", "#", class:"index-button" %>
  </div>
  <div class="top-image">
    <%= image_tag "top.jpg" %>
  </div>
</div>
