<% provide(:submit,"作成") %>
<%= render partial:"shared/header" %>
<div class="container">
  <div class="container-header">
    <h1>動画追加</h1>
  </div>
  <%= render partial: "form", locals: { video: @video } %>
  <%= link_to "もどる", videos_path, class:"cancel-button" %>
</div>
