<% provide(:submit, "更新") %>
<%= render "shared/header" %>
<div class="container">
  <div class="container-header">
    <h1>メンバー情報更新</h1>
    <%= link_to "キャンセル", members_path, class:"cancel-button" %>
  </div>
  <%= render "form", locals: {member: @member} %>
</div>
